# Eclipse specific

/wrapper
/.settings
/bin
/gen
/.classpath
/.project
/project.properties

# Android Studio specific
/.gradle
/.idea
/*.iml
/build
/local.properties
/secrets.properties
/javadoc.xml
/doc/

/gradlew
/gradlew.bat
/gradle

# OSx specific

*.DS_Store
/distPlay
