<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.eleybourn.bookcatalogue"
	android:versionName="3.5.3" android:versionCode="55">
	<application android:label="@string/app_name" android:icon="@drawable/logo_bc">
		<provider android:name=".SearchSuggestionProvider" android:authorities="com.eleybourn.bookcatalogue.SearchSuggestionProvider" />		
		<activity android:name=".BookCatalogue"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
		</activity>
		<activity android:name=".BookEdit"></activity>
		<activity android:name=".BookISBNSearch" android:label="@string/title_isbn_search"></activity>
		<activity android:name=".Bookshelf" android:label="@string/title_manage_bs"></activity>
		<activity android:name=".BookshelfEdit" android:label="@string/title_edit_bs"></activity>
		<activity android:name=".Administration" android:label="@string/administration_title"></activity>
		<activity android:name=".BookEditFields"></activity>
		<activity android:name=".BookEditLoaned"></activity>
		<activity android:name=".BookEditNotes"></activity>
		<activity android:name=".AdministrationAbout"></activity>
		<activity android:name=".AdministrationDonate"></activity>
		<activity android:name=".AdministrationFunctions"></activity><activity android:name=".AdministrationLibraryThing"></activity>
		<activity android:name=".Help"></activity>
		<activity android:name=".FieldVisibility"></activity>
		<activity android:name=".BookEditAnthology"></activity>
		<activity android:name=".EditAuthorList"></activity>
		<activity android:name=".EditSeriesList"></activity>
		<activity android:name=".UpdateFromInternet"></activity>
	</application>
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	


</manifest> 